[init]
	defaultBranch = main

[core]
	editor = nvim
	pager = delta

[interactive]
	diffFilter = delta --color-only

[include]
	path = ~/.config/delta/theme.gitconfig

[delta]
	line-numbers = false
	dark = true
	navigate = true
	features = tokyonight-night

[merge]
	conflictStyle = zdiff3

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit

[pull]
	rebase = true

[include]
	path = ~/.gitconfig.local
