(
  selected_tab: Some("#957FB8"),
  command_fg: Some("#727169"),
  selection_bg: Some("#2D4F67"),
  selection_fg: Some("#7FB4CA"),
  cmdbar_bg: Some("#1F1F28"),
  cmdbar_extra_lines_bg: Some("#1F1F28"),
  disabled_fg: Some("#727169"),
  diff_line_add: Some("#98BB6C"),
  diff_line_delete: Some("#C34043"),
  diff_file_added: Some("#7AA89F"),
  diff_file_removed: Some("#C34043"),
  diff_file_moved: Some("#D27E99"),
  diff_file_modified: Some("#E6C384"),
  commit_hash: Some("#957FB8"),
  commit_time: Some("#7AA89F"),
  commit_author: Some("#98BB6C"),
  danger_fg: Some("#C34043"),
  push_gauge_bg: Some("#1F1F28"),
  push_gauge_fg: Some("#DCD7BA"),
  tag_fg: Some("#D27E99"),
  branch_fg: Some("#E6C384")
)
