themes {
    kanagawa-wave {
        bg "#54546D"
        fg "#DCD7BA"
        red "#C34043"
        green "#98BB6C"
        blue "#7E9CD8"
        yellow "#E6C384"
        magenta "#957FB8"
        orange "#FFA066"
        cyan "#7FB4CA"
        black "#1F1F28"
        white "#DCD7BA"
    }
}
