(
  selected_tab: Some("#ae81ff"),
  command_fg: Some("#75715e"),
  selection_bg: Some("#3e3d32"),
  selection_fg: Some("#66d9ef"),
  cmdbar_bg: Some("#272822"),
  cmdbar_extra_lines_bg: Some("#272822"),
  disabled_fg: Some("#75715e"),
  diff_line_add: Some("#a6e22e"),
  diff_line_delete: Some("#f92672"),
  diff_file_added: Some("#a6e22e"),
  diff_file_removed: Some("#f92672"),
  diff_file_moved: Some("#ae81ff"),
  diff_file_modified: Some("#e6db74"),
  commit_hash: Some("#ae81ff"),
  commit_time: Some("#66d9ef"),
  commit_author: Some("#a6e22e"),
  danger_fg: Some("#f92672"),
  push_gauge_bg: Some("#272822"),
  push_gauge_fg: Some("#f8f8f2"),
  tag_fg: Some("#fd971f"),
  branch_fg: Some("#e6db74")
)
