themes {
    monokai {
        bg "#272822"
        fg "#f8f8f2"
        red "#f92672"
        green "#a6e22e"
        blue "#66d9ef"
        yellow "#e6db74"
        magenta "#ae81ff"
        orange "#fd971f"
        cyan "#66d9ef"
        black "#1e1f1c"
        white "#f8f8f2"
    }
}
