layout {
    pane split_direction="vertical" {
        pane size="55%" command="yazi" borderless=true
        pane size="45%" command="claude" borderless=true {
            args "--dangerously-skip-permissions"
            focus true
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
