[[plugin.prepend_previewers]]
url = "*.md"
run = 'piper -- bash ~/.config/yazi/scripts/preview-markdown.sh "$1" $w'

[mgr]
ratio = [1, 1, 4]

show_hidden = false

[opener]
edit = [
    { run = 'bash ~/.config/yazi/scripts/open-editor.sh "$@"', desc = "Edit file", block = true },
]
open = [
    { run = 'bash ~/.config/yazi/scripts/open-default.sh "$@"', desc = "Open with default app" },
]
typora = [
    { run = 'bash ~/.config/yazi/scripts/open-typora.sh "$@"', desc = "Open in Typora" },
]

[open]
rules = [
    { url = "*.pdf", use = ["open"] },
    { url = "*.md", use = ["edit", "typora"] },
    { url = "*.markdown", use = ["edit", "typora"] },
    { mime = "text/*", use = ["edit"] },
    { mime = "application/json", use = ["edit"] },
    { mime = "*/javascript", use = ["edit"] },
]
