[mgr]
ratio = [1, 1, 4]

show_hidden = true

[opener]
edit = [
    { run = 'bash ~/.config/yazi/scripts/open-editor.sh "$@"', desc = "Edit file", block = true },
]

[open]
rules = [
    { url = "*.md", use = ["edit"] },
    { url = "*.markdown", use = ["edit"] },
    { mime = "text/*", use = ["edit"] },
    { mime = "application/json", use = ["edit"] },
    { mime = "*/javascript", use = ["edit"] },
]
