theme "subtle"
pane_frames false

keybinds {
    shared_except "locked" {
        bind "Alt m" { ToggleFocusFullscreen; }
        unbind "Alt Left" "Alt Down" "Alt Up" "Alt Right"
    }
}

themes {
    subtle {
        fg "#a0a0a0"
        bg "#2d2d2d"
        black "#2d2d2d"
        red "#f44747"
        green "#608b4e"
        yellow "#4a4a40"
        blue "#569cd6"
        magenta "#c586c0"
        cyan "#4ec9b0"
        white "#d4d4d4"
        orange "#ce9178"

        frame_unselected {
            base 112 112 112
            background 45 45 45
            emphasis_0 112 112 112
            emphasis_1 112 112 112
            emphasis_2 112 112 112
            emphasis_3 112 112 112
        }
        frame_selected {
            base 112 112 112
            background 45 45 45
            emphasis_0 112 112 112
            emphasis_1 112 112 112
            emphasis_2 112 112 112
            emphasis_3 112 112 112
        }
        frame_highlight {
            base 112 112 112
            background 45 45 45
            emphasis_0 112 112 112
            emphasis_1 112 112 112
            emphasis_2 112 112 112
            emphasis_3 112 112 112
        }
    }
}
